<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de Peso</title>
</head>
<body>
    <h1>Resultado de Peso</h1>
    <p>Resultado: <%= result %></p>
</body>
</html>